<section>
    <mat-expansion-panel [expanded]="isEditExpanded" (closed)="onPanelClosed()">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ panelTitle$ | async }}
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
        </mat-expansion-panel-header>
        &nbsp;<app-todo-form (onAccept)="onEditAccept($event)"></app-todo-form>
    </mat-expansion-panel>

    <mat-divider></mat-divider>

    <h2>
        Todo listing &nbsp;
        <span matBadge="{{ todos?.length }}" matBadgePosition="before" matBadgeColor="accent"></span>
    </h2>

    <div class="cc" *ngFor="let t of todos">
        <app-todo-card (onEdit)="onEdit(t)" (onDelete)="onDelete(t)" [todo]="t"></app-todo-card>
    </div>

</section>